body{
font-family: sans-serif;
margin: 0;
background-color: rgb(75, 75, 75);
}

text{
    color: white;
}

p {
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

header{
    min-height: 100px;
    background-color:rgb(75, 75, 75);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    margin-right: 700px;
}

nav{
    background-color: rgb(116, 115, 115);
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
}

nav a{
    font-weight: 600;
    padding: 10px 0px;
    margin-inline-end: 50px;
    align-items: center;
    text-align: center;
}

nav a:hover{
    color: skyblue;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 800px;
    font-size: 100px;
    color: white;
}

.Ini img{
    float: left;
}

.Ini p{
    font-size: 40px;
}

#Materias{
    float: left;
}

li {
    color: white;
    
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.Horario{
    font-size: 25px;
}
th,td{
    border: 3px solid rgb(2, 2, 2);
    padding: 20px;
    text-align: center;
}
th{
    background-color: rgb(245, 155, 20);
}
.h{
    background-color: #bb6400;
}
td{
    background-color: rgb(247, 207, 31);
}
td[rowspan]{
    background-color: #f77a14 !important;
}

#Galeria{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    margin: auto;
}

.Galeria p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
}

.Galeria img {
    margin-left: 65px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Galeria img:hover {
    transform: scale(1.2);
}
.Galeria p{


}
.Galeriatexto{
    text-align: center;
}


form{
    display: grid;
    background-color:rgba(240, 243, 42, 0.856);
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    border-style: none;
    border: 0px solid;
    padding: 25px;
}
fieldset{
    border:0;

}
form h2{
    font-size: 50px;
    text-align: center;
    margin: 0%;
    margin-bottom: 0%;
}
#H{
    text-align: center;
}
input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: #cccccc00;
    border-radius: 4px;
}
#observaciones{
    width: 100%;
    padding: 40px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: #cccccc00;
    border-radius: 4px;
}
input[type="email"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="telf"]{
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 10px;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    box-sizing: border-box;

}
textarea{
    resize: vertical;
}
#actividades{
    font-size: 20px;
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 10px;
    border: 1px solid #47474700;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #6e706e;
    color: white;
    margin-top: -25px;
    padding: 20px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="sumbit"]:hover{
    background-color: #000000;
}
footer{
    background-color: #646464;
}
#nom{
    text-align: left;
}
#red{
    text-align: right;
}